{% for field in form.visible_fields %}
    <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
            <div class="form-row">
            {% if field.is_hidden %}

                {% else %}
                <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                <div class="col-sm-10">{{ field }}</div>
                {% endif %}
            </div>
    </div>
{% endfor %}