{% extends 'core/base.html' %}
{% load static %}
{% load i18n %} {# for translation #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Office</title>

    <!-- Custom styles for this template -->
    <link type="text/css" href="{% static 'css/office.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

</head>
<body>

{% block content %}
<div class="container">
    <div class="col-md-8 py-5 text-center"></div>
        <div class="row">
            <div class="col-md-10">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages" style="list-style-type: none">
                            {% for message in messages %}
                                <li class="m-2 pb-3 bg-info">
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if office_list %}
                    <ul>
                    {% for office in office_list %}
                        <li>
                            <h5>{{ office.name }}</h5>
                            <a href="{% url 'office-update' office.id %}">Update</a>
                            <a href="{% url 'office-delete' office.id %}">Delete</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}

                        <h3>No offices at the moment, please create some</h3>
                    {% endif %}

                    <a class="btn btn-primary" role="button" href="{% url 'office-add' %}">Create office</a>
                </form>

        </div>
    </div>

</div>

{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>