{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}- User profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-8 py-5 text-center"></div>
            <div class="row">
                <div class="col-md-8">
                    <form enctype="multipart/form-data" action="" method="post">
                        {% csrf_token %}

                            {{ form.as_p }}
                            <input type="submit" value="Update profile">

                    </form>
                </div>
                <div class="col-md-4">
                    {% if user.profile_image %}
                        <img src="{{ user.profile_image.url }}" width="230" alt="User profile image">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

