{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}- {% trans "Punch out" %}{% endblock %}

    {% block content %}
      <div class="container">
          <div class="py-5 text-center"></div>
              {% if messages %}
                    <ul class="messages" style="list-style-type: none">
                        {% for message in messages %}
                            <li class="m-2 pb-3 bg-info">
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
              {% endif %}
              <form action="" method="post">
                  {% csrf_token %}
                  {% include 'core/form-template.html' %}
                  <button type="submit" class="btn-primary btn">{% trans "Punch out" %}</button>
              </form>

          </div>
      </div>

    {% endblock %}

